
body {
    margin: 0;
    background: white;
    font-family: 'Amatic SC';
    font-size: 14px;
}


header {
    background: white;
    font-family: 'Amatic SC';
    font-weight: 300;
    font-size: 14px
}
header::after {
    content: "";
    display: table;
    clear: both;
    background: white;
    color: white;
    background-color: white;
}

.logo {
    float: left;
    padding: 0px 0;
    margin: 0;
    background-color: white;
    color: white;
    background: white;
}


 nav {
     float: right;
 border: 0;
    }

    nav ul {
        margin: 0px auto;
        padding: 0;
        list-style: none;
        background-color: white;
  }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 23px;
        background-color: white;
       position: relative;
    }
     nav a {
         text-transform: uppercase;
         font-family: 'Amatic SC';
         font-size: 22px;
        }

        nav a:hover {
        color: #000;
    }

    nav a::before {
        content:"";
        display: block;
        height: 3px;
        width: 100%;
        background-color: #000 ;

        position: absolute;
        top: 15px;
        width: 0%;
  transition: all ease-in-out 250ms;
    }

    nav a:hover::before {
        width: 80%;
    }

    ylätunniste.PNG {
        height: 100px;
        width: 150px;
      border: 10px solid;
    }

a {
  color: black;
  }

    .jumbotron {
      background-color: #8ACFE7;
      background: #8ACFE7;
      color: white;
      font-size: 60px;
      font-family: 'Amatic SC';
      font-weight: 300;
      }

      .jumbotron .div {

        padding-left: 20px;
        }

      h1 {
        font-family: 'Amatic SC';
        font-weight: 300;
        font-size: 70px;
          }



    .footer {
      background: white;
      background-color: white;
      font-family: 'Amatic SC';
      font-weight: 300;
      padding: 50px 0;
      align-items: center;
        }

        .footer-col {
          width: 25%;
          padding: 0 15px;
          font-size: 18px;
          font-weight: 400;
          }
          .footer-col h4{
            font-size: 21px;
            text-transform: capitalize;
            margin-bottom: 30px;
            color:black;
              }
          .container bg-white {
            max-width: 1170px;
            margin:auto;
            padding: 0;
            box-sizing: border-box;
            background: white;
}
          .row {
            display: flex;
            flex-wrap: wrap;
            }

          ul {
            color: #8ACFE7;
              list-style: none;
            }

    h3 {
                margin-top: 0;
                text-align: center;
                color: white;
                height: 100px;
                width: 100%;
            }


  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }


  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }


  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.responsive {
  max-width: 100%;
  height: auto;
}
header{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
}

  @media screen and (max-width: 1280px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }



.post-content{
    width:70%;
    float: right;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main_box{
  position: relative;
  background: url('side.jpeg') right no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main_box .sidebar_menu{
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.sidebar_menu .menu i{
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.main_box .btn_one i{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}





.card {
  padding: 30px 0px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  }
